In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\shiby\Downloads\archive (9)\Coursera.csv")
data.head(5)

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [3]:
import neattext.functions as nfx

In [4]:
data = data[['Course Name','Difficulty Level','Course Description','Skills']]
data.head(2)

,Course Name,Difficulty Level,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Beginner,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Beginner,"By the end of this guided project, you will be...",Finance business plan persona (user experien...

data['Course Name'] = data['Course Name'].str.replace(' ',',')
data['Course Name'] = data['Course Name'].str.replace(',,',',')
data['Course Name'] = data['Course Name'].str.replace(':','')


data['Course Description'] = data['Course Description'].str.replace(' ',',')
data['Course Description'] = data['Course Description'].str.replace(',,',',')
data['Course Description'] = data['Course Description'].str.replace('_','')
data['Course Description'] = data['Course Description'].str.replace(':','')
data['Course Description'] = data['Course Description'].str.replace('(','')
data['Course Description'] = data['Course Description'].str.replace(')','')

#removing parenthesis from skills columns 
data['Skills'] = data['Skills'].str.replace('(','')
data['Skills'] = data['Skills'].str.replace(')','')

In [5]:
data.head(5)

,Course Name,Difficulty Level,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Beginner,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Beginner,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,Advanced,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,Intermediate,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Beginner,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [6]:
data['tags'] = data['Course Name'] +' '+ data['Difficulty Level'] +' '+ data['Course Description'] +' '+ data['Skills']

In [7]:
data['tags'].iloc[100]

'The New Nordic Diet - from Gastronomy to Health Beginner The New Nordic Diet is a new food culture developed in 2009-13 with key emphasis on gastronomy, health, and environment. Major research in its effect on acceptability, behaviour and learning skills, and disease prevention have been conducted by the OPUS centre at the University of Copenhagen and the people behind the award-winning restaurant Noma in Copenhagen.  This course will give the participants the opportunity to experience a healthy and palatable new food and eating concept diet �The New Nordic Diet� and an understanding of how food and diets can affect mental and physical health and ensure the foundation for a healthier life style for future generations with a regional based diet and food culture.    In Denmark �the Nordic cuisine�, has expanded from food eaten at the award-winning Copenhagen restaurant Noma to home-made dishes of local ingredients of whole-grain rye bread, root vegetables, berries, fresh fish and seaweed.  This course is also part of the EIT Health Programme dietetics  dieting  sustainability  cardiovascular disease  diet (nutrition)  acceptance  nutrition  lifestyle disease  eating  diets life-sciences nutrition'

In [8]:
new_df = data[['Course Name','tags']]

In [9]:
new_df.head(5)

,Course Name,tags
0,Write A Feature Length Screenplay For Film Or ...,Write A Feature Length Screenplay For Film Or ...
1,Business Strategy: Business Model Canvas Analy...,Business Strategy: Business Model Canvas Analy...
2,Silicon Thin Film Solar Cells,Silicon Thin Film Solar Cells Advanced This co...
3,Finance for Managers,Finance for Managers Intermediate When it come...
4,Retrieve Data using Single-Table SQL Queries,Retrieve Data using Single-Table SQL Queries B...

In [10]:
new_df['tags'].iloc[100]

'The New Nordic Diet - from Gastronomy to Health Beginner The New Nordic Diet is a new food culture developed in 2009-13 with key emphasis on gastronomy, health, and environment. Major research in its effect on acceptability, behaviour and learning skills, and disease prevention have been conducted by the OPUS centre at the University of Copenhagen and the people behind the award-winning restaurant Noma in Copenhagen.  This course will give the participants the opportunity to experience a healthy and palatable new food and eating concept diet �The New Nordic Diet� and an understanding of how food and diets can affect mental and physical health and ensure the foundation for a healthier life style for future generations with a regional based diet and food culture.    In Denmark �the Nordic cuisine�, has expanded from food eaten at the award-winning Copenhagen restaurant Noma to home-made dishes of local ingredients of whole-grain rye bread, root vegetables, berries, fresh fish and seaweed.  This course is also part of the EIT Health Programme dietetics  dieting  sustainability  cardiovascular disease  diet (nutrition)  acceptance  nutrition  lifestyle disease  eating  diets life-sciences nutrition'

new_df['tags'] = new_df['tags'].str.replace(',',' ')
new_df['tags'] = new_df['tags'].str.replace('-',' ')

In [11]:
new_df['tags'].iloc[100]

'The New Nordic Diet - from Gastronomy to Health Beginner The New Nordic Diet is a new food culture developed in 2009-13 with key emphasis on gastronomy, health, and environment. Major research in its effect on acceptability, behaviour and learning skills, and disease prevention have been conducted by the OPUS centre at the University of Copenhagen and the people behind the award-winning restaurant Noma in Copenhagen.  This course will give the participants the opportunity to experience a healthy and palatable new food and eating concept diet �The New Nordic Diet� and an understanding of how food and diets can affect mental and physical health and ensure the foundation for a healthier life style for future generations with a regional based diet and food culture.    In Denmark �the Nordic cuisine�, has expanded from food eaten at the award-winning Copenhagen restaurant Noma to home-made dishes of local ingredients of whole-grain rye bread, root vegetables, berries, fresh fish and seaweed.  This course is also part of the EIT Health Programme dietetics  dieting  sustainability  cardiovascular disease  diet (nutrition)  acceptance  nutrition  lifestyle disease  eating  diets life-sciences nutrition'

new_df['Course Name'] = data['Course Name'].str.replace(',',' ')

In [12]:
new_df.rename(columns = {'Course Name':'course_name'}, inplace = True)

C:\Users\shiby\AppData\Local\Temp\ipykernel_1856\2809988695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns = {'Course Name':'course_name'}, inplace = True)

In [13]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower()) #lower casing the tags column

C:\Users\shiby\AppData\Local\Temp\ipykernel_1856\172956468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower()) #lower casing the tags column

In [14]:
new_df['tags'].iloc[100]

'the new nordic diet - from gastronomy to health beginner the new nordic diet is a new food culture developed in 2009-13 with key emphasis on gastronomy, health, and environment. major research in its effect on acceptability, behaviour and learning skills, and disease prevention have been conducted by the opus centre at the university of copenhagen and the people behind the award-winning restaurant noma in copenhagen.  this course will give the participants the opportunity to experience a healthy and palatable new food and eating concept diet �the new nordic diet� and an understanding of how food and diets can affect mental and physical health and ensure the foundation for a healthier life style for future generations with a regional based diet and food culture.    in denmark �the nordic cuisine�, has expanded from food eaten at the award-winning copenhagen restaurant noma to home-made dishes of local ingredients of whole-grain rye bread, root vegetables, berries, fresh fish and seaweed.  this course is also part of the eit health programme dietetics  dieting  sustainability  cardiovascular disease  diet (nutrition)  acceptance  nutrition  lifestyle disease  eating  diets life-sciences nutrition'

In [15]:
new_df['course_name']=new_df['course_name'].apply(nfx.remove_special_characters)

C:\Users\shiby\AppData\Local\Temp\ipykernel_1856\2476997242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['course_name']=new_df['course_name'].apply(nfx.remove_special_characters)

In [16]:
new_df['course_name']

0       Write A Feature Length Screenplay For Film Or ...
1       Business Strategy Business Model Canvas Analys...
2                           Silicon Thin Film Solar Cells
3                                    Finance for Managers
4             Retrieve Data using SingleTable SQL Queries
                              ...
3517    Capstone Retrieving Processing and Visualizing...
3518                      Patrick Henry Forgotten Founder
3519    Business intelligence and data analytics Gener...
3520                                  Rigid Body Dynamics
3521    Architecting with Google Kubernetes Engine Pro...
Name: course_name, Length: 3522, dtype: object

In [17]:
new_df['tags'] = new_df['tags'].apply(nfx.remove_urls)
new_df['tags'] = new_df['tags'].apply(nfx.remove_stopwords)
new_df['tags'] = new_df['tags'].apply(nfx.remove_special_characters)

C:\Users\shiby\AppData\Local\Temp\ipykernel_1856\421123727.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(nfx.remove_urls)
C:\Users\shiby\AppData\Local\Temp\ipykernel_1856\421123727.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(nfx.remove_stopwords)
C:\Users\shiby\AppData\Local\Temp\ipykernel_1856\421123727.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(nfx.remove_special_characters)

In [18]:
new_df['tags'].iloc[100]

'new nordic diet  gastronomy health beginner new nordic diet new food culture developed 200913 key emphasis gastronomy health environment major research effect acceptability behaviour learning skills disease prevention conducted opus centre university copenhagen people awardwinning restaurant noma copenhagen course participants opportunity experience healthy palatable new food eating concept diet the new nordic diet understanding food diets affect mental physical health ensure foundation healthier life style future generations regional based diet food culture denmark the nordic cuisine expanded food eaten awardwinning copenhagen restaurant noma homemade dishes local ingredients wholegrain rye bread root vegetables berries fresh fish seaweed course eit health programme dietetics dieting sustainability cardiovascular disease diet nutrition acceptance nutrition lifestyle disease eating diets lifesciences nutrition'

In [19]:
new_df[200:210]

,course_name,tags
200,App Design and Development for iOS,app design development ios advanced app design...
201,Introduction to the Arctic Climate,introduction arctic climate beginner universit...
202,Introduction to Programming with MATLAB,introduction programming matlab conversant cou...
203,Pharmaceutical and Medical Device Innovations,pharmaceutical medical device innovations begi...
204,Software Product Management Capstone,software product management capstone advanced ...
205,Datadriven Astronomy,datadriven astronomy advanced science undergoi...
206,Basics of Inclusive Design for Online Education,basics inclusive design online education advan...
207,Making Successful Decisions through the Strate...,making successful decisions strategy law ethi...
208,Achieving Advanced Insights with BigQuery,achieving advanced insights bigquery advanced ...
209,Exploring Beethovens Piano Sonatas,exploring beethovens piano sonatas calibrated ...

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
new_df[200:210]

,course_name,tags
200,App Design and Development for iOS,app design development ios advanced app design...
201,Introduction to the Arctic Climate,introduction arctic climate beginner universit...
202,Introduction to Programming with MATLAB,introduction programming matlab conversant cou...
203,Pharmaceutical and Medical Device Innovations,pharmaceutical medical device innovations begi...
204,Software Product Management Capstone,software product management capstone advanced ...
205,Datadriven Astronomy,datadriven astronomy advanced science undergoi...
206,Basics of Inclusive Design for Online Education,basics inclusive design online education advan...
207,Making Successful Decisions through the Strate...,making successful decisions strategy law ethi...
208,Achieving Advanced Insights with BigQuery,achieving advanced insights bigquery advanced ...
209,Exploring Beethovens Piano Sonatas,exploring beethovens piano sonatas calibrated ...

In [22]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [23]:
#vectors = cv.fit_transform(new_df['tags']).toarray()
vectors = cv.fit_transform(new_df['tags'])

In [24]:
vectors.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [25]:
vectors.shape

(3522, 5000)

In [26]:
df_cv_words=pd.DataFrame(vectors.todense(),columns=cv.get_feature_names())

C:\Users\shiby\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [27]:
df_cv_words

,10,100,1000,10000,101,11,12,13,14,15,...,york,youll,young,youre,youth,youtube,youve,zero,zoom,zos
0,0,0,0,0,0,0,0,0,0,0,...,0,5,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,3,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3518,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3520,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3521,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt



# create a figure and axis
fig, ax = plt.subplots()

# plot the dataframe as a table
table = ax.table(cellText=df_cv_words.values, colLabels=df_cv_words.columns, loc='center')
table.auto_set_font_size(False)
table.set_fontsize(14)
table.scale(1, 1.5)

# hide axes
ax.axis('tight')
ax.axis('off')

# save the figure as an image
plt.savefig('df_cv_words.png', bbox_inches='tight')

In [ ]:
import nltk #for stemming process

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [ ]:
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [ ]:
new_df['tags'] = new_df['tags'].apply(stem) #applying stemming on the tags column

In [ ]:
print(new_df['tags'])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [ ]:
print(similarity)

In [ ]:
def recommend(course):
    course_index = new_df[new_df['course_name'] == course].index[0]
    distances = similarity[course_index]
    course_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:7]
    
    for i in course_list:
        print(new_df.iloc[i[0]].course_name)

In [ ]:
recommend('Organic Solar Cells  Theory and Practice')

In [ ]:
new_df[new_df['course_name']== 'Silicon Thin Film Solar Cells'].index